<?xml version="1.0" encoding="utf-8"?>
<dataConfiguration>
  <xmlSerializerSection type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null">
    <enterpriseLibrary.databaseSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" defaultInstance="SQLUnitTests" xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/data">
      <databaseTypes>
        <databaseType name="Sql Server" type="Microsoft.Practices.EnterpriseLibrary.Data.Sql.SqlDatabase, Microsoft.Practices.EnterpriseLibrary.Data" />
        <databaseType name="Oracle" type="Microsoft.Practices.EnterpriseLibrary.Data.Oracle.OracleDatabase, Microsoft.Practices.EnterpriseLibrary.Data, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </databaseTypes>
      <instances>
        <instance name="SQLUnitTests" type="Sql Server" connectionString="SQLConnection" />
        <instance name="OracleUnitTests" type="Oracle" connectionString="BAAN DV02 Connection String" />
      </instances>
      <connectionStrings>
        <connectionString name="SQLConnection">
          <parameters>
            <parameter name="database" value="EasyObjectTest" isSensitive="false" />
            <parameter name="Integrated Security" value="True" isSensitive="false" />
            <parameter name="server" value="127.0.0.1" isSensitive="false" />
          </parameters>
        </connectionString>
        <connectionString xsi:type="OracleConnectionStringData" name="BAAN DV02 Connection String">
          <parameters>
            <parameter name="Data Source" value="baan_dv02" isSensitive="false" />
            <parameter name="Password" value="cancun" isSensitive="true" />
            <parameter name="User ID" value="mnoona01" isSensitive="false" />
          </parameters>
          <packages>
            <package prefix="daab_" name="MNOONA01" />
          </packages>
        </connectionString>
      </connectionStrings>
    </enterpriseLibrary.databaseSettings>
  </xmlSerializerSection>
</dataConfiguration>
